# Dependencies
node_modules/

# Build output
dist/
out-tsc/

# Angular cache
.angular/cache/

# Test & coverage
coverage/
__screenshots__/
testem.log

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
